---
import { Languages } from '../utils/types';
import PriceTag from './PriceTag.astro';

export interface Props {
	language: Languages;
}

const { language } = Astro.props as Props;

const url = Astro.url;
---

<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
	<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
	<div style="padding-top:10px;"></div>
	<div class="sm:flex sm:items-center sm:justify-between">
		<a href={url.pathname.toString().length > 4 ? '/' : '#'} class="flex items-center mb-4 sm:mb-0">
			<img
				src="https://raw.githubusercontent.com/PoliNetworkOrg/Logo/master/Logo.png"
				class="mr-3 h-8"
				alt="PoliNetwork Logo"
			/>
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PoliNetwork</span>
		</a>
	</div>
	<div style="padding-top:30px;"></div>
	<ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
		<li>
			<a href="https://polinetwork.org" class="mr-4 hover:underline md:mr-6"
				>{
					language == Languages.IT ? (
						<span>
							PoliNetwork è una associazione APS nonprofit che mira a costruire un network coeso di studenti
							universitari
						</span>
					) : (
						<span>
							PoliNetwork is a non-profit APS association that aims to build a cohesive network of university students
						</span>
					)
				}</a
			>
		</li>
	</ul>
	<div style="padding-top:10px;"></div>
	<div>
		<ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
			<li>
				<a
					href={language == Languages.IT
						? 'https://programma-affiliazione.amazon.it/'
						: 'https://affiliate-program.amazon.com/'}
					class="mr-4 hover:underline md:mr-6"
					>{
						language == Languages.IT ? (
							<span>
								In qualità di Affiliato Amazon, "PoliNetwork APS", a costo zero per gli acquirenti, riceve un guadagno
								dagli acquisti idonei
							</span>
						) : (
							<span>
								As an Amazon Affiliate, "PoliNetwork APS", at no cost to buyers, earns money from qualifying purchases
							</span>
						)
					}
				</a>
			</li>
		</ul>
	</div>
	<div style="padding-top:50px;"></div>
	<div class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400 mr-4 md:mr-6">
		<div class="border px-3 py-3 rounded-xl">
			<table>
				<tr
					><td class="px-3 max-w-xs">
						Il sito fa uso di simboli al fine di semplificare la visione dei prodotti, qui in allegato la tabella
						riassuntiva:
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr
					><td>
						<table class="table-fixed center">
							<tr class="text-center px-3">
								<td class="px-3 font-semibold">Simbolo</td>
								<td class="px-3 font-semibold">Spiegazione</td>
							</tr>
							<tr>
								<td class="px-3"><PriceTag price={{ value: 99.99, time: '2022-12-31T21:59:59' }} /></td>
								<td class="px-3 max-w-xs"
									>Si intende che il prezzo di quel prodotto, alla data indicata, è quello indicato. Il prezzo può
									subire variazioni nel tempo.</td
								>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="padding-top:10px;"></div>
</footer>
