---
import { PricePC } from '~/utils/types';

export interface Props {
	price: PricePC;
}

const { price } = Astro.props;

function printDate(dateString: string) {
	if (!dateString) return '';
	var x = dateString + 'Z';

	const dateDate = new Date(Date.parse(x));
	const yyyy = dateDate.getFullYear();
	let mm = (dateDate.getMonth() + 1).toString().padStart(2, '0'); // Months start at 0!
	let dd = dateDate.getDate().toString().padStart(2, '0');

	const formattedDate = dd + '/' + mm + '/' + yyyy;

	let hh = dateDate.getHours();
	let minutes = dateDate.getMinutes();
	let seconds = dateDate.getSeconds();

	if (hh == 0 && minutes == 0 && seconds == 0) return [formattedDate];

	const formattedTime =
		hh.toString().padStart(2, '0') +
		':' +
		minutes.toString().padStart(2, '0') +
		':' +
		seconds.toString().padStart(2, '0');

	return [formattedDate, formattedTime];
}

const priceTime = printDate(price.time);
---

<div class="dark:bg-sky-900/20 bg-neutral-50 rounded-full px-7 py-2 text-center">
	<span class="text-2xl font-bold text-gray-600 dark:text-gray-200 text-center"
		>{(Math.round(price.value * 100) / 100).toFixed(2)} €</span
	>
	<table class="text-sm">
		<tr>
			<td
				><img
					width="30"
					class="opacity-70"
					src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/calendar-clock-icon.png"
				/>
			</td>
			<td>
				<table class="text-center text-gray-600 dark:text-gray-300">
					<tr>
						<td>
							<span>{priceTime[0]}</span>
						</td>
					</tr>
					<tr>
						<td>
							{priceTime[1] ? <span>{priceTime[1]}</span> : ''}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
