---
---

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
	<table>
		<tr>
			<td> <img src="https://polinetwork.org/img/polinetwork.png" style="width:1em;" /></td><td
				>&nbsp;PoliNetwork Store
			</td>
		</tr>
	</table>
</span>
